<h3 class="resource-label">Attack Roll</h3>
<section class="resource">
    {{!-- Choose ability --}}
    <div class="resource flexrow">
        <label class="resource-label">Ability</label>
        <select name="system.ability">
            {{selectOptions config.abilities selected=system.ability blank="Default" localize=true }}
        </select>
    </div>

    <div class="resource flexrow">
        <label class="resource-label">Proficient</label>
        <input type="checkbox" name="system.proficient"  {{checked system.proficient}}/>        
    </div>

    <div class="resource flexrow">
        <label class="resource-label">Item Attack Bonus</label>
        <input class="resource-small" type="text" name="system.attackBonus" value="{{system.attackBonus}}" data-dtype="Number"/>
    </div>

</section>

<h3 class="resource-label">Damage</h3>
<section class="resource">

    <div class="resource flexrow">
        <label class="resource-label">Damage Die</label>
        <input type="text" name="system.damageFormula" value="{{system.damageFormula}}" data-dtype="String"/>
    </div>

    {{#if system.weaponType}}
    <div class="resource flexrow">
        <label class="resource-label">Alternate Damage Die</label>
        <input type="text" name="system.damageAlternate" value="{{system.damageAlternate}}" data-dtype="String"/>
    </div>
    {{/if}}
    <div class="resource flexrow">
        <label class="resource-label">Bonus Critical Damage</label>
        <input type="text" name="system.critical.damage" value="{{system.critical.damage}}" data-dtype="String"/>
    </div>

</section>


<h3 class="resource-label">Saving Throw</h3>
<section class="resource">
    {{!-- Gadgetry or flat? --}}
    <div class="resource flexrow">
        <label class="resource-label">Save Mode</label>
        <select name="system.save.scaling" value="system.save.scaling">
        {{#select system.save.scaling}}
            <option value="gadget">{{localize "STELLARMISADVENTURES.Gadgetry"}}</option>
            {{! 5e allows picking an abl to scale with.}}
            <option value="attack">{{localize "STELLARMISADVENTURES.Attack"}}</option>
            <option value="flat">{{localize "STELLARMISADVENTURES.Flat"}}</option>
        {{/select}}
        </select>
    </div>
    {{!-- Choose save --}}
    <div class="resource flexrow">
        <label class="resource-label">Type</label>
        <select name="system.save.defence">
            {{selectOptions config.saves selected=system.save.defence blank="None" localize=true }}
        </select>
    </div>
    <div class="resource flexrow">
        <label class="resource-label">DC</label>
        <input type="number" name="system.save.dc" 
            value="{{#if system.save.dc}}{{system.save.dc}}{{/if}}"
            placeholder="DC" {{#unless isFlatDC}}disabled{{/unless}} data-dtype="Number"/>
    </div>

</section>


<h3 class="resource-label">Msc</h3>
<section class="resource">
    <div class="flexrow">
        <label class="resource-label">Other Roll Formula</label>
        <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String"/>
    </div>
</section>
