<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Quantity</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">Value</label>
          <input type="text" name="system.value" value="{{system.value}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- New fields in here! --}}
      {{!-- Choose ability --}}
      <div class="resource">
        <label class="resource-label">Ability</label>
        <select name="system.ability">
          {{selectOptions config.abilities selected=system.ability localize=true }}
        </select>
      </div>
      <div class="resource">
        <label class="resource-label">Proficient</label>
        <input type="checkbox" name="system.proficient"  {{checked system.proficient}}/>        
      </div>
      <div class="resource">
        <label class="resource-label">Damage Die</label>
        <input type="text" name="system.damageFormula" value="{{system.damageFormula}}" data-dtype="String"/>
      </div>
      <div class="resource">
        <label class="resource-label">Other Roll Formula</label>
        <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String"/>
      </div>
      {{!-- Weapon Attributes --}}
      <table>
        <tr>
          <th>{{localize "STELLARMISADVENTURES.ItemWeaponType"}}</th>
          <th>Range</th>
          <th>Ammo Max</th>
          <th>Ammo</th>
          <th>Usage</th>
          <th>Properties</th>
        </tr>
        <tr>
          <td>
            {{!-- Handlebars bits for generating options --}}
            <select name="system.weaponType">
              {{selectOptions config.weaponTypes selected=system.weaponType localize=true }}
            </select>
          </td>
          <td>
            <input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/>
          </td>
          <td>
            <input type="text" name="system.ammoMax" value="{{system.ammoMax}}" data-dtype="Number"/>
          </td>
          <td>
            <input type="text" name="system.ammoType" value="{{system.ammoType}}" data-dtype="String"/>
          </td>
          <td>
            <input type="text" name="system.ammoUsage" value="{{system.ammoUsage}}" data-dtype="Number"/>
          </td>
          <td>
            <input type="text" name="system.properties" value="{{system.properties}}" data-dtype="String"/>
          </td>
        </tr>
      </table>
  
    </div>
  </section>
</form>
