<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab flexrow" data-group="primary" data-tab="description">
      <div class="item-properties">
        <h4 class="properties-header">Gadget Details</h4>
        <ol class="properties-list">        
          {{#if labels.tier}}
          <li>
            {{labels.tier}}
          </li>
          {{/if}}
          {{#if labels.toHit}}
          <li>
            {{labels.toHit}} attack
          </li>
          {{/if}}
          {{#if labels.save}}
          <li>
            {{labels.save}}
          </li>
          {{/if}}
          {{#if labels.damage}}
          <li>
            {{labels.damage}}
          </li>
          {{/if}}
        </ol>

      </div>
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource flexrow">
        <label class="resource-label">Gadget Tier</label>
        <input type="text" name="system.gadgetTier" value="{{system.gadgetTier}}" data-dtype="Number"/>
      </div>
      <div class="resource flexrow">
        <label class="resource-label">Range</label>
        <input type="text" name="system.range" value="{{system.range}}" data-dtype="String"/>
      </div>
      <div class="resource flexrow">
        <label class="resource-label">Damage Scaling</label>
        <input type="text" name="system.damageScaling" value="{{system.damageScaling}}" data-dtype="String"/>
      </div>

      {{> "systems/stellarmisadventures/templates/item/parts/activate-sheet.hbs"}}
    </div>

  </section>
</form>
